.form-group {
  padding: 0 2% 0 2%;
}
.leftCol {
  padding-right: 0;
}
.rightCol {
  padding-left: 0;
}
.btn {
  margin: 0 12px 0.5% 12px;
}
body {
  background: #3c4144;
}
.jumbotron,
.card {
  background: #bf214b;
  color: #c1d0d9;
}
.card-header {
  background: #0e7373;
  padding: 1% 12px 1% 12px;
  border-bottom: 0;
}
.form-control {
  background-color: #f26d85;
  color: #0e6973;
}
.btn-primary {
  color: #c1d0d9;
  background-color: #0e6973;
  border-color: #0e7373;
}
.btn-primary:hover {
  color: #c1d0d9;
  background-color: #3c4144;
  border-color: #c1d0d9;
}
/* From: color.adobe.com/trends */
/* Color Theme Swatches in Hex */
/* color: #f26d85;
        color: #bf214b;
        color: #c1d0d9;
        color: #0e6973;
        color: #0e7373; */
